body {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    display: flex;
    height: 60vh;
    width: 60vw;
    background-color: grey;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#video {
    position: fixed;
    width: 500px;
    height: 500px;
}
#canvas {
    position: fixed;
    width: 500px;
    height: 500px;
}

#rotating {
    margin-top: 10px;
    height: 10vh;
    width: auto;
    animation: rotation 12s infinite linear;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
